<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    {{> header}}

    <p>My Projects</p>

    {{> footer}}
  </body>
</html>
